
nbproject/private/
nbbuild/
nbdeploy/

nbproject/backup/
nbproject/PRIVATE/
nbproject/ant-deploy/
nbproject/ant-include/
nbproject/ant-libs/
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml

nbproject/build-impl.xml
nbproject/genfiles/
nbproject/build/



*.log
*.tmp
*.bak
*.swp

DbConnection.java